[build-system]
requires = ["setuptools", "wheel"]
build-backend = "setuptools.build_meta"

[project]
name = "queuectl"
version = "0.1.0"
dependencies = [
  "typer",
  "rich"
]

[project.scripts]
queuectl = "queuectl.cli:app"
